Source: rocm-hipblas
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 git,
 gfortran,
 libblas-dev,
 liblapack-dev,
 pkg-config,
 rocm-cmake,
 rocm-core,
 rocm-env,
 rocm-hip-on-rocclr-dev,
 rocm-hipblas-common,
 rocm-llvm,
 rocm-rocblas-dev,
 rocm-rocr-dev,
 rocm-rocsolver-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/hipBLAS
Vcs-Browser: https://github.com/revyos-rocm/rocm-hipblas
Vcs-Git: https://github.com/revyos-rocm/rocm-hipblas.git

Package: rocm-hipblas
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: ROCm BLAS marshalling library  - binary
 hipBLAS is a Basic Linear Algebra Subprograms (BLAS) marshalling library with
 multiple supported backends. It sits between your application and a 'worker'
 BLAS library, where it marshals inputs to the backend library and marshals
 results to your application. hipBLAS exports an interface that doesn't require
 the client to change, regardless of the chosen backend. Currently, hipBLAS
 supports rocBLAS and cuBLAS backends.

Package: rocm-hipblas-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-hipblas,
Description: ROCm BLAS marshalling library  - dev
 hipBLAS is a Basic Linear Algebra Subprograms (BLAS) marshalling library with
 multiple supported backends. It sits between your application and a 'worker'
 BLAS library, where it marshals inputs to the backend library and marshals
 results to your application. hipBLAS exports an interface that doesn't require
 the client to change, regardless of the chosen backend. Currently, hipBLAS
 supports rocBLAS and cuBLAS backends.
